*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos de destokp */
body{
    margin-top: 1%;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;
    background: linear-gradient(rgb(2, 238, 255), white);
}

.container{
    border: 3px solid black;
    border-radius: 20px;
    padding: 5px 5px 0px 5px;
    background-color: rgb(27, 151, 145);
}

.body-calculradora{
    width: 384px;
    height: 600px;
    overflow: hidden;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);   
    border-radius: 12px;
}

#resultado{
    width: 384px;
    height: 96px;
    outline: 0;
    border-radius: 15px 15px 0px 0px;
    padding: 0px 20px 0px 20px;
    font-size: 24px;
    
}

.num-container{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 28px;
    font-size: 24px;
    font-weight: bold;
    background-color: rgb(177, 175, 175);
}

.num-container-2{
    width: 100%;
    height: 128px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 0px 20px 0px 20px;
    background-color: rgb(177, 175, 175);
    border-radius: 0px 0px 15px 15px;
}

.s-button{
    width: 64px;
    height: 64px;
    background-color: rgb(104, 253, 246);
    border-radius: 10%;
    font-size: 24px;
    font-weight: bold;
    border: 1px solid black;
    cursor: pointer;
}

.s-button-2{
    width: 144px;
    height: 64px;
    border-radius: 20px;
    font-size: 24px;
    font-weight: bold;
    background-color:  rgb(104, 253, 246);
    border: 1px solid black;
    cursor: pointer;
}

.dark{ 
    background:#1b1b1b;
    color: #d8e3f6;
  }

/* The switch - the box around the slider */
.switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 3.5em;
    height: 2em;
    margin-top: 10px;
    margin-left: 5px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    --background: #28096b;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(255, 255, 255);
    transition: .5;
    border-radius: 30px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 1.4em;
    width: 1.3em;
    border-radius: 50%;
    left: 10%;
    bottom: 15%;
    box-shadow: inset 10px -5px 0px 0px #000;
    background: rgb(255, 255, 255);
    transition: .5s;
  }
  
  input:checked + .slider {
    background-color:  rgb(139, 139, 139);
  }
  
  input:checked + .slider:before {
    transform: translateX(100%);
    box-shadow: inset 15px -4px 0px 15px #565758;
  }
/* 
 @media screen (max-width:800px){
    body{
        margin-top: 20%;
    }
    
    .container{
       height: 85%;
       margin-left: 5%;
       margin-right: 5%;
    }

    #resultado{
        width: 700px;
        height: 300px; 
        font-size: 90px;  
    }

    .num-container{
        width: 700px;
        height: 145px;
    }

    .num-container-2{
        width: 700px;
        height: 60px;
    }

    .s-button{
        width: 20%;
        height: 64%;
        border-radius: 20%;
        font-size: 45px;
        
    }

    .s-button-2{
        width: 500px;
        height: 55px;
        border-radius: 15px;
        font-size: 35px;
    }
} 

@media screen (max-width:400px) {
    body{
        margin-top: 18%;
    }
    
    .container{
      
    }

    #resultado{
        width: 355px;
        height: 250px; 
        font-size: 80px;  
    }

    .num-container{
        width: 355px;
        height: 110px;
    }

    .num-container-2{
        width: 355px;
        height: 65px;
    }

    .s-button{
        width: 65px;
        height: 55px;
        border-radius: 30%;
        font-size: 35px;
    }

    .s-button-2{
        width: 100px;
        height: 55px;
        border-radius: 20px;
        font-size: 24px;
    }

} */